@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;800;900&display=swap);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'DM Serif Display', serif;
}


.main-h1{
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
     color: #36536B;
       font-family: 'DM Serif Display', serif;
       text-align: center;
} 
.plus{
    font-size: 22px;
  width: 40px;
  font-weight: 800;
    height: 40px;
    border-radius: 4px;
    background-color: #36536B ;
    color: white;
     
}
.main{
    width: 1440px;
}

.str{
    height: 100px;
    align-items: center;
    margin: 100px;
    gap: 30px;
    display: flex;
    justify-content: center;

}
.container {
    margin: 0 auto;
    padding: 0 165px;
}

.header {
    max-width: 1440px;
    
}

.nav {
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
}
.nav ul li{
    font-family: Public Sans;
font-weight: 700;
font-size: 15px;
line-height: 100%;
letter-spacing: 0px;
 color: #36536B;
}
.nav ul {
    display: flex;
    gap: 40px;
   
    align-items: center;
}
#btn {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    background-color: #BA4270;
    color: white;
    font-weight: 700;
    text-align: center;
    align-content: center;
}
.card{
    width: 240px;
    height: 300px;
    border-radius: 7px;
    background-color: #accde9 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.edit{
  font-size: 22px;
  width: 40px;
  font-weight: 800;
    height: 40px;
    border-radius: 4px;
    background-color: #36536B ;
    color: white;   
}
.delete{
     font-size: 22px;
  width: 40px;
  font-weight: 800;
    height: 40px;
    border-radius: 4px;
    background-color: #36536B ;
    color: white;
}
.str1{
    display: flex;
    margin:5px;
    gap: 140px;
}
.card img{
    width: 105px;
    height: 105px;
    border-radius: 80px;
    border:#36536B 3px solid ;
    
}
.card h1{
    font-size: 24px;
    color: white;
}
.card h3{
    font-size: 24px;
    color: white;
}
.kartochki{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}